html, body,h1,h2,h3,h4,h5,h6,p,div,ul,li {
	margin: 0;
	padding: 0;
}
ul,li,ol {
	list-style: none;
}
a,a:hover {
	text-decoration: none;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden; 
}
.row {
	padding: 0;
	margin: 0; 
}
body {
	font-family: raleway;
}
